<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cumt.SRS.dao.TeacherDao">
    <!-- 返回类型 -->
    <resultMap id="teacher" type="com.github.cumt.SRS.domain.Teacher">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
 		<result property="password" column="password"/>
    	<result property="title" column="title"/>  
    	<result property="department" column="department"/>  
     
    </resultMap>
    
   <!-- 查询 数据-->
   <select id="findAll" resultMap="teacher" >
       select * from teacher
   </select>
   <select id="findTeacherById" resultMap="teacher">
       select * from teacher where id=#{id}
   </select>
   
</mapper>